@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }


@font-face {
    font-family: castoro;
    src: url(assets/fonts/CastoroTitling-Regular.ttf);
}


@font-face {
    font-family: vollkorn;
    src: url(assets/fonts/Vollkorn-VariableFont_wght.ttf);
}




a {
    text-decoration: none;
}

html {

    background-image: url(assets/img/tile.png);



    background-repeat: repeat;
    background-size: 525px;
}



#navbar {
    text-align: center;
    padding: 10px;
    justify-content: center;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
}

#navbar a {
    font-weight: 600;
    font-family: vollkorn;
    padding: 15px;
    color: #bb5f28;
    font-size: x-large;


}

#selected {
    color: white !important;
}

#selected:hover {
    font-style: normal !important;
}

#navbar a:hover {

    font-style: italic;
    border-radius: 10px;
    border-width: 3px;
    border-color: white;

}

.line{
    width: 35%;
    height: 2px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    }

#title {
    font-family: vollkorn;
    color: #bb5f28;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    font-size: xx-large;
    font-weight: 100;
}

.description {
    font-family: vollkorn;
    color: #bb5f28;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 100;
}

content {

}




#home {
    width: 70%;
    height: auto;
    /* min-height: 100%; */
    /* background-color: #ffc877; */
    background: linear-gradient(to bottom, #ffc877, #ffd08a);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    border-radius: 15px 15px 0px 0px;

}

footer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #e9874c;
    width: 70%;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 0px 0px 15px 15px;
    color: white;
    clear:both;
}

#footbox {
    margin: 10px;
    height: 80px;
    display: inline-flex;
}

#footlogo {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

#footer-left {
    float: right;
    display: inline-block;
    margin-right: auto;
    height: 100%;
    padding: 20px;
}


#footer-right {
    float: left;
    display: inline-block;
    margin-left: auto;
    height: 100%;
    padding: 20px;
}

.footer-link {
    color: white;
    vertical-align: middle;
    padding: 10px;




}

.footer-link:hover {
    text-decoration: underline;
    font-style: italic;
    border-width: 0px;


}

#copyrighttag {
    font-size: 15px;
    padding: 3px;
    text-align: right;
    font-family: 'vollkorn';
    font-weight: 100;
}



#homeimg {
    margin: 30px;
    display: flex;
    justify-content: center;
}

#imginhome {
    width: 60%;
    border-width: 3px;
    border-color: white;
    border-style: solid;
}

#img {
    border-width: 3px;
    border-color: white;
    border-style: solid;
}

#profile {
    background-color: #ffe6af;
    display: block;
    width: 100%;
    height: 1000px;
}

#profilecontent {
    padding: 70px;
    font-family: 'Times New Roman', Times;

}



#coverimg {
    margin-left:auto;
    margin-right: auto;
    display: block;
}


#sitetitle {

    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

#titleprops {
    border-width: 5px 7px 5px 7px;
    border-style: solid;
    border-color: #e78850;
    margin: 10px;
    border-radius: 50px;
}

#videoshowcase {
    text-align: center;
    width: 60%;
    height: fit-content;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;

}

#ytdiv {
    margin: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
}

#showcase {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 90%;
}

#description-img{
    font-family: vollkorn;
    color: #bb5f28;
    text-align: center;
    margin-left: 3%;

}

video {
    display: block;
}

#showcasetext {
    padding: 10px;
    width: 40%;
    font-family: vollkorn;
    color: #bb5f28;
}

#showcasetitle {
    text-align: center;
    padding: 0px 30px 0px 0px
}

#showcasenote {
    font-size: medium !important;
    margin: 10px;
    font-weight: 100;
}


/* OLD VIDEO BOXES, M&S Design */

.oldvideos /* PARENT */ {
    width: 70%;
    min-height: 110px;

    background: linear-gradient(to bottom, #f59054, #ff9f65);
    border-width: 1px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    transition-duration: 0.5s;
}

.oldvideos:hover {
    background: #e9874c;
    transition-duration: 0.1s;
    border-style: solid;
    border-color: white;
    border-width: 5px;

}

.oldvidbox {
    margin: 10px;
    vertical-align: middle;


}

.prevboxtitle {
    width: 20%;
    float: left;
}

.prevboxyear {
    width: 20%;
    float: left;

}

.prevboxdesc {
    width: 40%;
    float: left;
}

.prevvidsmallbox {
    background-color: #bb5f28;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 20%;
    height: fit-content;
}

.prevvidtitle {
    text-align: center;
}

th {
    padding: 10px;
    color: white;
    font-weight: 100;
}

th img {
    width: 150px;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
}



















#instagram {
    background-image: url(assets/instagram.ico);
}

.icon {
    width: 30px;


}

#attributebox {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#attribution {
    text-align: center;
    color: white;
    font-weight: normal;
}

#attribution:hover {
    text-decoration: underline;
    color: white;
}


#contactimg {

    border-width: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
}

#contact {
    display: flex;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#contactleft {
    float: left;
    width: 50%;
}

#contactright {
    float: right;
    text-align: left;
    width: 50%;
    padding: 20px;

}

.contactoption {
    font-family: vollkorn;
    color: white;
    padding: 5px;
    font-size: 25px;
    margin: 40px;
    border-radius: 17px;
}

.contactoption:hover {
    font-style: italic;
    text-decoration: underline;
}


.displaynonedesk {
    display: none;
}














/*  QUOTE BOXES */

.quotebox {
    margin: 30px;

}

.quote {
    text-align: center;
    color: white;
    font-size: medium;
    display: block;
    
}

.quoter {
    color: #bb5f28;
    text-align: center;
    font-size: small;
    padding-top: 6px;
    
}



/* PHOTOGRAPHY */
#photographyshowcase {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    height: fit-content;
    overflow: auto;
    /* background-color: beige; */
}

#photogleft {
    float: left;
    display: block;
    /* background-color: green; */
    height: fit-content;
    width: 25%;
}


#photogright {
    float: right;
    display: block;
    /* background-color: maroon; */
    height: fit-content;
    width: 74%;
}



.photogalleryele {
    display: block;
    width: 100%;
    margin: 3px;
    margin-bottom: 5px;
}

.lphotogalleryele {
    display: block;
    width: 100%;
    margin: 3px;
    margin-bottom: 5px;
}

#photographysitelink {
    color: white;
    text-align: center;
    background-color: #e9874c;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 7px;
    font-style: italic;
    border-radius: 10px;
    transition: 0.4s;
}

#photographysitelink:hover {
    background-color: #fda26a;
    transition: 0.5s;

}






/* Web stuff */

.weblinks {
    color: white;
    background-color: #e78850;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 3px;
    transition: 0.4s;
    font-family: vollkorn;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: block;
}

.weblinks:hover {
    background-color: #fda26a;
    transition: 0.5s;
}

#webquotes {
    justify-content: space-evenly;
    display: flex;
}

.webgalleryimg {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border-radius: 10px;
}

#webgallery {
    justify-content: space-evenly;

}


#webprevioustitle {
    border-style: double;
    border-width: 0px 0px 3px 0px;
    border-color: white;
    border-radius: 20px;
    font-weight: 600;
}

#parentprewebbox {
    padding: 20px;
    margin: 20px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
}

.webcommbox {
    background-color: #e78850a3;
    height: 200px;
    width: 100%;
    padding: 20px;
    display: flex;
    
}




.webquoteL {
    float: left;
    width: 70%;
    /* background-color: green; */

}

.weblogoR {
    width: 30%;
    float: right;
    /* background-color: red; */
    padding: 10px;
}

.webquote {
    text-align: center;
    color: white;
    font-size: larger;
    font-weight: 100;
}

.webquoter {
    color: #bb5f28;
    text-align: center;
    font-size: small;
    padding-top: 6px;
}


/* COMMISSION LOGO LINK HOVERS */

#jarvlogo {
    transition-duration: 0.2s;
    filter: drop-shadow(1px 2px 4px black);
}

#jarvlogo:hover {
    filter: drop-shadow(0px 0px 0px black);
    transition-duration: 0.1s;
    
}



#audioytdiv {
    width: inherit;
}



.webquote {
    display: block;
}

.webquotemob {
    display: none;
    font-size: small;
}


/* FIX THE WEB GALLERY FLEX STUFF MAYBE??? */




@media (min-width: 801px) and (max-width: 1200px) {
    #photographysitelink {
        width: 70%;
        margin-bottom: 10px;
    }
}


@media (min-width: 320px) and (max-width: 800px) {


.quote {
    font-size: medium;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.webcommbox {
    height: 140px;
}

.webquote {
    display: none;
}

.webquotemob {
    display: block;
    font-size: small;
    text-align: center;
    color: white;
    font-weight: 200;
}

#photographyshowcase {

    width: 95%;
    padding: 0px;
    overflow: hidden;
    height: fit-content;
}

#photographysitelink {
    width: 70%;
    margin-bottom: 10px;
}

#photogleft {
    height: fit-content;
}

#photogright {
    height: fit-content;
}

.description #photodesc {
    display: inline-block;
}

#sitetitle {
    width: 97%;
}


#titleprops {
    border-width: 3px 5px 3px 5px;
}

html {
    background-size: 300px;
}


#home {
    width: 95%;
    min-height: 100%;
}

footer {
    width: 95%;
    margin-bottom: 180px;
}

#footbox {
    height: 110px;
}

.footer-link {
    padding: 0px;
}

#footer-right {
    padding: 10px;
    display: grid;
}

#footer-left {
    padding: 10px;
    display: grid;
}

#footlogo {
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}

#videoshowcase {

    text-align: center;
    width: 90%;

    border-width: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#ytvideo {
    text-align: center;
    width: 90%;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#ytdiv {
    border-style: none;
    width: 500px ;
}

#audioytdiv {
    width: 100% !important;
}

#showcasetext {
    width: auto ;
}


#showcase {
    display: block;
}

.oldvideos {
    width: 90%;
}

#imginhome {
    width: 100%;
}

#navbar a {
    font-weight: 600;
    font-family: vollkorn;
    padding: 0px 10px 0px 5px;
    color: #bb5f28;
    font-size: x-large;


}

#description-img {
    display: block;

}

.displaynonemob {
    display: none;

}

.displaynonedesk {
    display: block;
}














/* Contact */

#contactleft {
    width: 60%;
}

#contactright {
    padding: 0px;
}



#contact {
    width: 92%;
}


}


#artistcvbutton {
    background-color: #e78850;
    color: white;
    padding: 10px;
    font-family: 'vollkorn';
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
}

#artistcvbutton:hover {
    border-width: 2px;
    border-color: white;
    border-style: solid;
    background-color: #f38f55;
}


