* {
    margin:0;
    padding:0;
    
    
}

html {
    background-color:rgb(143, 139, 255);
}

#title {
    
    border-color: #373737;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    padding: 0px;
    margin: 0px;
    color: black;
    background-color: white;
    font-family: monospace;
    
    font-weight: bold;
}

#titletxt {
    color: black;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    font-family: monospace;
}

#form {
    margin-top: 20px;
    text-align: center;
    background-color: white;
    vertical-align:middle;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 15px;
    border-color: #d5d5d5;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    
}

#query {
    padding: 5px;
    border-color: #d5d5d5;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
}

button {
    font-family: monospace;
    vertical-align: text-top;

}

h1, h2 ,h3, a {
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    text-align: center;
    color: white;
}



#navbox {
    padding: 10px 0px 10px 10px;
    width: 130px;
    border-color: #d5d5d5;
    border-width: 1px;
    border-style: solid;
    float: right;
    background-color: white;
    border-radius: 3px;
    color: black;
    margin-right: 3px;
    position: sticky;
    

}

#directory {
    border-color: #d5d5d5;
    border-width: 15px 1px 1px 1px;
    border-style: solid;
    width: 600px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin: 15px;
    float: left;
    background-color: white;
}

#calendar {
    border-color: #d5d5d5;
    border-width: 15px 1px 1px 1px;
    border-style: solid;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin: 15px;
    float: left;
}

#navdir {
    color: black;
    font-family:monospace;
    text-align: left;
    width: 100%;
    border-color: #d5d5d5;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
}

.navdirselect {
    color: black;
    font-family: monospace;
}

.navdirselect:hover {
    color: black;
    font-family: monospace;
    text-decoration: underline;
}

.naviconbox {
    width: 100px;
    height: 100px;
    text-align: center;
    float: left;
}



.dirico {
    width: 60px;
    padding: 10px;
}

.navdirtxt {
    font-family: monospace;
    font-weight: 100;
    color: black;
}

.navele {
    text-align: left;
    vertical-align: top;
    display: inherit;
    color: black;
}


#navr {
    
}

.navico {
    width: 20px;
    padding: 2px;
    vertical-align: super;
}



a:link { text-decoration: none; }

a:visited { text-decoration: none; }

.navele:hover {
    text-decoration: underline;
}

a:active { text-decoration: none; }



img {
    image-rendering: optimizeSpeed;             // Older versions of FF
    image-rendering: -moz-crisp-edges;          // FF 6.0+
    image-rendering: -webkit-optimize-contrast; // Webkit (non standard naming)
    image-rendering: -o-crisp-edges;            // OS X & Windows Opera (12.02+)
    image-rendering: crisp-edges;               // Possible future browsers.
    -ms-interpolation-mode: nearest-neighbor;   // IE (non standard naming)
}


@media (min-width: 320px) and (max-width: 999px) {
    #navbox {
        margin: 10px 0px;
    }

    #calendar {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin: 10px;
    }

    iframe {
        width: 200px;
    }
    
    #directory {
        width: 90%;
        height: 100%;
    }

    #calendar {
        display: none;
    }

    #navbox {
        display: none;
    }

    .naviconbox {
        margin: 10px;
        padding-bottom: 15px;
        width: 95px;
        height: 95px;
    }

    #navdir {
        padding: 8px;
    }
}